<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promociones</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="heroBannerImg">
        <lo class="botonContainer">
            <li>
                <button class="boton">
                    <a href="./promociones.html">PROMOCIONES</a>
                </button>
            </li>
            <li>
                <button class="boton">
                    <a href="./catalogo.html">CATALOGO</a>
                </button>
            </li>
            <li>
                <button class="boton">
                    <a href="./orden.html">ORDENAR</a>
                </button>
            </li>
            <li>
                <button class="boton">
                    <a href="./categorias.html">CATEGORÍAS</a>
                </button>
            </li>
        </div>
    </div>

    <script src="../js/productos.js"></script>
    <script src="../js/promociones.js"></script>
    

</body>
</html>